# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

/run

/.checkstyle

/paper-server
/paper-api
/paper-checkstyle

/folia-api
/folia-server
/folia-checkstyle

/lophine-server/build.gradle.kts
/lophine-api/build.gradle.kts
/lophine-checkstyle/build.gradle.kts
/lophine-server/src/minecraft

/lophine-generator.settings.gradle.kts
/test-plugin.settings.gradle.kts

.idea/
